### Three types of questions are asked

1. Given Row number and column number and print the element at that location

In [37]:
def facncr(n,r):
    res=1
    for i in range(r):
        res=res*(n-i)
        res=res//(i+1)
    return res

In [38]:
print(facncr(4,2))

6

2. Given row number print the entire row

In [22]:
def printnthrowele(n):
    ans=1 
    print(ans)
    for i in range(1,n):
        ans=ans*(n-i)
        ans=ans/i
        print(ans)

In [2]:
printnthrowele(6)

1
5.0
10.0
10.0
5.0
1.0

3. Given n print the whole pascal triangle

In [53]:
def printpascal(n):
    ans=[]
    
    for i in range(n):
        templist=[]
        for j in range(i+1):
            templist.append(facncr(i,j))
        ans.append(templist)  
    return ans

In [54]:
printpascal(6)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1], [1, 5, 10, 10, 5, 1]]